.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}
img {
    width: 200px;
    height: auto;
}